html{
    background-image: url("../photos/bg.jpg");

}
*{
margin: 0;
padding: 0;
}

header,footer{
position: absolute;
width:100%;
color: white;
font-weight: bolder;
z-index: 1;
}
header{
position: fixed;
z-index: 1;
height: 100px;
background-color:rgba(0, 0, 0, 0.765);
}
header img {
position: absolute;
height: 70%;
z-index: 1;
margin-top: 14px;
margin-left: 14px;
}
header h2{
z-index: 1;
}
footer{
position: relative;
height: 15vh;
z-index: 1;
background-color:rgba(0, 0, 0, 0.765);
color: white;
bottom: 0;
}

footer h2{
z-index: 1;
position: absolute;
color: rgba(255, 255, 255, 0.432);
left: 1%;
top: 18%;
}
footer p{
z-index: 1;
position: absolute;
left:2.5%;
color: rgba(255, 255, 255, 0.432);
top: 47%;
}
.nav{
z-index: 1;
position: relative;
width: 100%;
}
.nav a{
z-index: 1;
border-style: dashed;
border-top: rgb(228, 228, 228);
border-left: #000;
border-right: #000 ;
border-bottom-color: red;
position: relative  ;
font-size: larger;
left: 66%;
top: 37px;
color:white;
font-style: italic;
margin-right: 20px;
text-decoration: none;

}
ul{
margin-top: 0.4%;
list-style-type: none;
}
.a{
font-size: x-large;
position:absolute;
width: 28%;
left:70%;
top: 17.0%;
font-weight: bolder;
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 230.5px;
background-color: rgba(206, 0, 0, 0.710) ;

}
.b{
position:static;
width: 70%;

}
.c{
font-size: xx-large; 
color: #000;
position: absolute;
left: 74%;
top:34.7%;
}
.taj{

width: 1060px;
}
.tajp{
font-size: x-large;
position: absolute;
width: 28.1%;
left:69.7%;
top: 68.3%;
font-weight: bolder;
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
color: rgba(255, 255, 255, 0.779);
padding-bottom: 220.9px;
background-color: rgba(4, 0, 0, 0.76) ;
}
.tajc{
left: 73.8%;
top: 97.5%;
font-size: xx-large; 
color: #000;
position: absolute;
color: rgba(255, 255, 255, 0.779);

}
.g{

width: 1060px;

}
.gc{
font-size: x-large;
position: absolute;
width: 28.2%;
left:69.7%;
top: 128.7%;
font-weight: bolder;
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 362.7px;
background-color:  rgba(206, 0, 0, 0.710) ;
}
.ga{
left: 73%  ;
position: absolute;
top: 161%;
font-size: xx-large; 
color: rgb(0, 0, 0);


}
footer a{
position: relative  ;
font-size: larger;
left: 13%;
top: 38.5px;
color:white;
font-style: italic;
margin-right: 20px;
text-decoration: none;
border-style: dotted;
border-top: rgb(228, 228, 228);
border-left: #000;
border-right: #000 ;
border-bottom-color: red;
}
.h2a{
position: absolute;
font-style: italic;
font-weight: bolder;
font-size: x-large;
height: 70%;
z-index: 1;
margin-top: 1.3%;
margin-left: 6.5%;
color: white;

}
.h2b{
font-style: italic;
font-weight: bolder;
font-size: x-large;
position: absolute;
height: 70%;
z-index: 1;
margin-top: 3%;
margin-left: 6.5%;
color: white;
}